<div>
  <div
    class="modal fade"
    id="{{one.id}}-delete-modal"
    tabindex="-1"
    aria-labelledby="{{one.id}}-delete-modal"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">Do you really want to delete :(</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <a
            type="button"
            href="/campaign_delete/{{one.id}}"
            class="btn btn-primary"
            >Delete</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
