<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  {% if session['role'] == 'influencer' %}
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Rate the Sponser
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/rating/{{work[1]}}?campaign_id={{work[0].campaign_id}}" method="post">
        <div class="modal-body d-flex">
          <label for="rating" class="form-label">Rate your Sponser 😊</label>
          <input style="width: 5%; min-width: 50px" type="number" id="rating" name="rating" min="1" max="5"
            class="form-control mx-2" />
        </div>
        <div class="modal-body row mb-3">
          <label for="description" class="col-sm-3 col-form-label">Spell your mind :</label>
          <div class="col-sm-8">
            <textarea type="text" class="form-control" name="description" id="description" required></textarea>
          </div>
        </div>
         <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Rate</button>
        </div>
    </div>
  </div>
  {% elif session['role'] == 'sponsor' %}
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Rate the Influencer
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/rating/{{work[3]}}?campaign_id={{work[0].campaign_id}}" method="post">
        <div class="modal-body d-flex">
          <label for="rating" class="form-label">Rate your Influencer 😊</label>
          <input style="width: 5%; min-width: 50px" type="number" id="rating" name="rating" min="1" max="5"
            class="form-control mx-2" />
        </div>
        <div class="modal-body row mb-3">
          <label for="description" class="col-sm-3 col-form-label">Spell your mind :</label>
          <div class="col-sm-8">
            <textarea type="text" class="form-control" name="description" id="description" required></textarea>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Rate</button>
        </div>
      </form>
    </div>
  </div>
  {% endif%}
</div>